services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    env_file:
      - .env
    volumes:
      - .env:/app/.env
      - ~/app/db/:/app/db/
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    command: npm run dev -- --host --port 5173
    environment:
      - VITE_API_BASE_URL=http://localhost:8000/api
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped
